cvat_dashboard/flows.json
[{"id":"694f85c.a45907c","type":"tab","label":"CVAT_Automation","disabled":false,"info":""},{"id":"f6127fce.7511d","type":"twitter-credentials","z":"","screen_name":"joinal_ahmed"},{"id":"f8d0ec.d9d11f18","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e9ebf29d.2fcea","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#01579b","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Onepanel","default":"#4B7930","baseColor":"#01578b","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#01578b","edited":true},"page-titlebar-backgroundColor":{"value":"#01578b","edited":false},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#fb8c00","edited":true},"group-borderColor":{"value":"#faf9f9","edited":true},"group-backgroundColor":{"value":"#faf9f9","edited":true},"widget-textColor":{"value":"#0f0f0f","edited":true},"widget-backgroundColor":{"value":"#01578b","edited":true},"widget-borderColor":{"value":"#f9f5f5","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"CVAT Automation","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":5,"py":5}}},{"id":"d0f12d3d.39b6d","type":"ui_tab","z":"","name":"Automation Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"e9c4a9a1.d310c8","type":"ui_group","z":"","name":"Datasets","tab":"d0f12d3d.39b6d","order":1,"disp":true,"width":"7","collapse":false},{"id":"61643cb1.41e4d4","type":"ui_group","z":"","name":"Operations","tab":"d0f12d3d.39b6d","order":2,"disp":false,"width":"7","collapse":false},{"id":"e36adc36.b7797","type":"ui_tab","z":"","name":"CVAT Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"786bce7e.7b1a","type":"ui_group","z":"","name":"User Details","tab":"e36adc36.b7797","disp":true,"width":"7","collapse":false},{"id":"3b3fd82f.4b0a68","type":"ui_group","z":"","name":"Datasets","tab":"e36adc36.b7797","disp":true,"width":"7","collapse":false},{"id":"34e1d4e2.dd3ffc","type":"ui_group","z":"","name":"Dataset Download","tab":"d0f12d3d.39b6d","order":5,"disp":true,"width":"7","collapse":false},{"id":"57414e63.52b2a","type":"ui_group","z":"","name":"Annotation","tab":"d0f12d3d.39b6d","order":3,"disp":true,"width":"7","collapse":false},{"id":"ef164027.76edf","type":"ui_group","z":"","name":"Upload Dataset","tab":"d0f12d3d.39b6d","order":4,"disp":true,"width":"7","collapse":false},{"id":"8f762adc.65eb88","type":"ui_group","z":"","name":"tf-Annotation","tab":"d0f12d3d.39b6d","order":6,"disp":true,"width":"7","collapse":false},{"id":"82cb7627.827a98","type":"ui_group","z":"","name":"Active Tasks","tab":"e36adc36.b7797","disp":true,"width":"14","collapse":false},{"id":"de191995.a15b48","type":"debug","z":"694f85c.a45907c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":60,"wires":[]},{"id":"6cf1ec3e.4e3c34","type":"debug","z":"694f85c.a45907c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":260,"wires":[]},{"id":"74258d8e.261d04","type":"inject","z":"694f85c.a45907c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"300","x":110,"y":160,"wires":[["e42ac397.04622"]]},{"id":"ef9cdbee.a1cf78","type":"tableify","z":"694f85c.a45907c","name":"","before":"","after":"","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":424.5,"y":147.10000610351562,"wires":[["de191995.a15b48","d41215d0.cfa1c8"]]},{"id":"da867682.a45388","type":"tableify","z":"694f85c.a45907c","name":"","before":"","after":"","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":440,"y":320,"wires":[["6cf1ec3e.4e3c34","d1cc478f.ba18d8"]]},{"id":"c7d083c6.adbb3","type":"pythonshell in","z":"694f85c.a45907c","name":"","pyfile":"/onepanel/code/get_tasks.py","virtualenv":"","continuous":false,"stdInData":false,"x":320,"y":40,"wires":[["ef9cdbee.a1cf78"]]},{"id":"e42ac397.04622","type":"pythonshell in","z":"694f85c.a45907c","name":"","pyfile":"/onepanel/code/get_users.py","virtualenv":"","continuous":false,"stdInData":false,"x":440,"y":240,"wires":[["da867682.a45388"]]},{"id":"c21babff.e5c128","type":"ui_button","z":"694f85c.a45907c","name":"","group":"82cb7627.827a98","order":2,"width":"14","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":40,"wires":[["c7d083c6.adbb3","e42ac397.04622","8416f2f1.11333"]]},{"id":"d41215d0.cfa1c8","type":"ui_template","z":"694f85c.a45907c","group":"82cb7627.827a98","name":"","order":1,"width":"14","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":120,"wires":[["25f9210.01257e"]]},{"id":"d1cc478f.ba18d8","type":"ui_template","z":"694f85c.a45907c","group":"786bce7e.7b1a","name":"","order":4,"width":"7","height":"2","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":320,"wires":[[]]},{"id":"25f9210.01257e","type":"file","z":"694f85c.a45907c","name":"File write","filename":"cvat_automation_tasks_jobs_output.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":720,"y":180,"wires":[[]]},{"id":"e2a7ec62.85f86","type":"pythonshell in","z":"694f85c.a45907c","name":"","pyfile":"/onepanel/code/dump_task.py","virtualenv":"","continuous":false,"stdInData":false,"x":460,"y":780,"wires":[["5ae9eb74.c8e0c4"]]},{"id":"5ae9eb74.c8e0c4","type":"debug","z":"694f85c.a45907c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":780,"wires":[]},{"id":"dc55dac8.5aadf8","type":"q-gate","z":"694f85c.a45907c","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","maxQueueLength":"1","keepNewest":true,"x":470,"y":680,"wires":[["92fcbb83.051558","e2a7ec62.85f86"]]},{"id":"bebf1870.481628","type":"inject","z":"694f85c.a45907c","name":"","topic":"","payload":"1,test.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":671,"wires":[["ed0f831f.ddd27"]]},{"id":"ed0f831f.ddd27","type":"ui_text_input","z":"694f85c.a45907c","name":"Text","label":"Task_ID and Dump File Name Here","tooltip":"","group":"57414e63.52b2a","order":3,"width":"4","height":"1","passthru":true,"mode":"text","delay":"300","topic":"","x":270,"y":671,"wires":[["dc55dac8.5aadf8"]]},{"id":"92fcbb83.051558","type":"debug","z":"694f85c.a45907c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":680,"wires":[]},{"id":"9393f9d9.2e6938","type":"ui_button","z":"694f85c.a45907c","name":"","group":"57414e63.52b2a","order":4,"width":"3","height":"1","passthru":true,"label":"Dump Annotation","tooltip":"","color":"","bgcolor":"","icon":"","payload":"trigger","payloadType":"str","topic":"control","x":310,"y":711,"wires":[["dc55dac8.5aadf8"]]},{"id":"10937824.e7e258","type":"inject","z":"694f85c.a45907c","name":"","topic":"control","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":711,"wires":[["9393f9d9.2e6938"]]},{"id":"e80934d6.2be018","type":"inject","z":"694f85c.a45907c","name":"","topic":"","payload":"1,node.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":631,"wires":[["ed0f831f.ddd27"]]},{"id":"8b74b8e8.519c08","type":"pythonshell in","z":"694f85c.a45907c","name":"","pyfile":"/onepanel/code/runtf.py","virtualenv":"","continuous":false,"stdInData":false,"x":460,"y":960,"wires":[["e467fd0e.50194"]]},{"id":"e467fd0e.50194","type":"debug","z":"694f85c.a45907c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":960,"wires":[]},{"id":"d916536c.312c1","type":"q-gate","z":"694f85c.a45907c","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","maxQueueLength":"1","keepNewest":true,"x":450,"y":840,"wires":[["69e6b53e.d79d5c","8b74b8e8.519c08"]]},{"id":"22d9e040.2dc7c","type":"inject","z":"694f85c.a45907c","name":"","topic":"","payload":"1,test.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":820,"wires":[["d41fec5f.cc25d"]]},{"id":"d41fec5f.cc25d","type":"ui_text_input","z":"694f85c.a45907c","name":"Text","label":"Enter Task_ID Here","tooltip":"","group":"8f762adc.65eb88","order":5,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"","x":270,"y":820,"wires":[["d916536c.312c1"]]},{"id":"69e6b53e.d79d5c","type":"debug","z":"694f85c.a45907c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":840,"wires":[]},{"id":"bb76500d.6338c","type":"ui_button","z":"694f85c.a45907c","name":"","group":"8f762adc.65eb88","order":7,"width":"4","height":"1","passthru":true,"label":"Run tf-annotation","tooltip":"","color":"","bgcolor":"","icon":"","payload":"trigger","payloadType":"str","topic":"control","x":290,"y":860,"wires":[["d916536c.312c1"]]},{"id":"817586a8.48a058","type":"inject","z":"694f85c.a45907c","name":"","topic":"control","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":860,"wires":[["bb76500d.6338c"]]},{"id":"444f44fd.54cf9c","type":"inject","z":"694f85c.a45907c","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":780,"wires":[["d41fec5f.cc25d"]]},{"id":"c190b809.92a0f8","type":"ui_button","z":"694f85c.a45907c","name":"","group":"","order":1,"width":"7","height":"1","passthru":false,"label":"Dump Annotations","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":1260,"wires":[["8a6bb41f.dda8a8"]]},{"id":"8a6bb41f.dda8a8","type":"pythonshell in","z":"694f85c.a45907c","name":"","pyfile":"/onepanel/code/dump_task.py","virtualenv":"","continuous":false,"stdInData":false,"x":440,"y":1260,"wires":[["53d4288e.4f0238"]]},{"id":"bd7c7fed.512fc","type":"ui_button","z":"694f85c.a45907c","name":"","group":"","order":2,"width":"7","height":"1","passthru":false,"label":"Run tf-annotations","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":1340,"wires":[["300f160f.017d9a"]]},{"id":"300f160f.017d9a","type":"pythonshell in","z":"694f85c.a45907c","name":"","pyfile":"/onepanel/code/runtf.py","virtualenv":"","continuous":false,"stdInData":false,"x":460,"y":1340,"wires":[["c194ecc1.ae6aa"]]},{"id":"adc20841.b48c18","type":"ui_button","z":"694f85c.a45907c","name":"","group":"ef164027.76edf","order":6,"width":"7","height":"1","passthru":false,"label":"Upload Dataset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":1420,"wires":[["ae6a5067.9f977"]]},{"id":"ae6a5067.9f977","type":"pythonshell in","z":"694f85c.a45907c","name":"","pyfile":"/onepanel/code/push_dataset.py","virtualenv":"","continuous":false,"stdInData":false,"x":460,"y":1420,"wires":[["f2f76b2e.fbfc98"]]},{"id":"23514242.cee5ee","type":"ui_template","z":"694f85c.a45907c","group":"","name":"Status","order":3,"width":"12","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":670,"y":1160,"wires":[["1660747c.7b414c"]]},{"id":"36540b77.a86b74","type":"inject","z":"694f85c.a45907c","name":"","topic":"","payload":" ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1180,"wires":[["23514242.cee5ee"]]},{"id":"53d4288e.4f0238","type":"change","z":"694f85c.a45907c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Data Dump Completed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1260,"wires":[["23514242.cee5ee"]]},{"id":"f2f76b2e.fbfc98","type":"change","z":"694f85c.a45907c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Dataset Uploaded for task 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1400,"wires":[["23514242.cee5ee"]]},{"id":"c194ecc1.ae6aa","type":"change","z":"694f85c.a45907c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tf-annotation started for task 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1320,"wires":[["23514242.cee5ee"]]},{"id":"ea3c5db2.d54b5","type":"change","z":"694f85c.a45907c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":408,"y":1120,"wires":[["23514242.cee5ee"]]},{"id":"1660747c.7b414c","type":"delay","z":"694f85c.a45907c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":1120,"wires":[["ea3c5db2.d54b5"]]},{"id":"8416f2f1.11333","type":"pythonshell in","z":"694f85c.a45907c","name":"","pyfile":"/onepanel/code/get_datasets.py","virtualenv":"","continuous":false,"stdInData":false,"x":340,"y":360,"wires":[["a3550062.a44ae"]]},{"id":"a3550062.a44ae","type":"tableify","z":"694f85c.a45907c","name":"","before":"","after":"","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":320,"y":420,"wires":[["a2ebed0b.ad2c3","34d3746b.a6606c","a718192e.0ebeb8"]]},{"id":"a2ebed0b.ad2c3","type":"debug","z":"694f85c.a45907c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":360,"wires":[]},{"id":"34d3746b.a6606c","type":"ui_template","z":"694f85c.a45907c","group":"3b3fd82f.4b0a68","name":"","order":1,"width":"7","height":"9","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":400,"wires":[[]]},{"id":"74352d.995a7ad4","type":"inject","z":"694f85c.a45907c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"300","x":90,"y":260,"wires":[["8416f2f1.11333"]]},{"id":"6ff6665.a97b798","type":"inject","z":"694f85c.a45907c","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":960,"wires":[["fd177f77.af233"]]},{"id":"f794a5e2.485728","type":"inject","z":"694f85c.a45907c","name":"","topic":"","payload":"1,test.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":1000,"wires":[["fd177f77.af233"]]},{"id":"b155e480.cb6928","type":"inject","z":"694f85c.a45907c","name":"","topic":"control","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1040,"wires":[["1d482aa2.f7e665"]]},{"id":"fd177f77.af233","type":"ui_text_input","z":"694f85c.a45907c","name":"Text","label":"Enter Dataset Name","tooltip":"","group":"34e1d4e2.dd3ffc","order":1,"width":"4","height":"1","passthru":true,"mode":"text","delay":"300","topic":"","x":270,"y":1000,"wires":[["129455e6.844bda"]]},{"id":"1d482aa2.f7e665","type":"ui_button","z":"694f85c.a45907c","name":"","group":"34e1d4e2.dd3ffc","order":2,"width":"3","height":"1","passthru":true,"label":"Download","tooltip":"","color":"","bgcolor":"","icon":"","payload":"trigger","payloadType":"str","topic":"control","x":260,"y":1040,"wires":[["129455e6.844bda"]]},{"id":"129455e6.844bda","type":"q-gate","z":"694f85c.a45907c","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","maxQueueLength":"1","keepNewest":true,"x":450,"y":1020,"wires":[["8e06a723.198028","dc13e05.2ccc12"]]},{"id":"dc13e05.2ccc12","type":"pythonshell in","z":"694f85c.a45907c","name":"","pyfile":"/onepanel/code/down_dataset.py","virtualenv":"","continuous":false,"stdInData":false,"x":460,"y":1140,"wires":[["bd7b307d.bc56"]]},{"id":"8e06a723.198028","type":"debug","z":"694f85c.a45907c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1020,"wires":[]},{"id":"bd7b307d.bc56","type":"debug","z":"694f85c.a45907c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":1140,"wires":[]},{"id":"a718192e.0ebeb8","type":"ui_template","z":"694f85c.a45907c","group":"e9c4a9a1.d310c8","name":"","order":1,"width":"8","height":"9","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":460,"wires":[[]]},{"id":"28d6bc99.579fd4","type":"ui_button","z":"694f85c.a45907c","name":"","group":"","order":2,"width":"6","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":400,"wires":[["8416f2f1.11333","7c505f3.16ecfa"]]},{"id":"7c505f3.16ecfa","type":"pythonshell in","z":"694f85c.a45907c","name":"","pyfile":"/onepanel/code/get_taskslist.py","virtualenv":"","continuous":false,"stdInData":false,"x":300,"y":480,"wires":[["39e28506.a4709a"]]},{"id":"39e28506.a4709a","type":"tableify","z":"694f85c.a45907c","name":"","before":"","after":"","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":404.5,"y":587.1000061035156,"wires":[["243fc907.42f5f6","9eee8541.f346c8"]]},{"id":"9eee8541.f346c8","type":"ui_template","z":"694f85c.a45907c","group":"","name":"","order":1,"width":"6","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":680,"y":560,"wires":[[]]},{"id":"243fc907.42f5f6","type":"debug","z":"694f85c.a45907c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":500,"wires":[]}]
